body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-container {
    margin-top: 20px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google {
    background-color: #4285f4;
    color: #fff;
}

.microsoft {
    background-color: #f3f3f3;
    color: #000;
}

.google:hover {
    background-color: #357ae8;
}

.microsoft:hover {
    background-color: #e1e1e1;
}
